@import "mixins";
@import "variables";

@include keyframes(walk) {
  0%, 100% {
    @include transform(scaleX(1));
  }
  50% {
    @include transform(scaleX(-1));
  }
}

@include keyframes(bounce-in-left) {
  0%, 60%, 75%, 90%, 100% {
    @include animation-timing-function(cubic-bezier(0.215, 0.610, 0.355, 1.000));
  }
  0% {
    opacity: 0;
    @include transform(translate3d(-3000px, 0, 0));
  }
  60% {
    opacity: 1;
    @include transform(translate3d(25px, 0, 0));
  }
  75% {
    @include transform(translate3d(-10px, 0, 0));
  }
  90% {
    @include transform(translate3d(5px, 0, 0));
  }
  100% {
    @include transform(none);
  }
}

@include keyframes(bounce-in-right) {
  0%, 60%, 75%, 90%, 100% {
    @include animation-timing-function(cubic-bezier(0.215, 0.610, 0.355, 1.000));
  }
  0% {
    opacity: 0;
    @include transform(translate3d(3000px, 0, 0));
  }
  60% {
    opacity: 1;
    @include transform(translate3d(-25px, 0, 0));
  }
  75% {
    @include transform(translate3d(10px, 0, 0));
  }
  90% {
    @include transform(translate3d(-5px, 0, 0));
  }
  100% {
    @include transform(none);
  }
}

@include keyframes(bounce-out-left) {
  20% {
    opacity: 1;
    @include transform(translate3d(20px, 0, 0));
  }
  to {
    opacity: 0;
    @include transform(translate3d(-2000px, 0, 0));
  }
}

@include keyframes(bounce-out-right) {
  20% {
    opacity: 1;
    @include transform(translate3d(-20px, 0, 0));
  }
  to {
    opacity: 0;
    @include transform(translate3d(2000px, 0, 0));
  }
}
