@import "mixins";
@import "variables";

@include keyframes(blink) {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(fadeOut) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@include keyframes(fadeInUp) {
  0% {
    opacity: 0;
    @include transform(translate3d(0, 100%, 0));
  }

  100% {
    opacity: 1;
    @include transform(none);
  }
}

@include keyframes(fadeInDown) {
  0% {
    opacity: 0;
    @include transform(translate3d(0, -100%, 0));
  }

  100% {
    opacity: 1;
    @include transform(none);
  }
}

@include keyframes(fadeOutDown) {
  0% {
    opacity: 1;
    @include transform(none);
  }

  100% {
    opacity: 0;
    @include transform(translate3d(0, 100%, 0));
  }
}
@include keyframes(fadeOutUp) {
  0% {
    opacity: 1;
    @include transform(none);
  }

  100% {
    opacity: 0;
    @include transform(translate3d(0, -100%, 0));
  }
}
@include keyframes(inDown) {
  0% {
    @include transform(translate3d(0, -100%, 0));
  }

  100% {
    @include transform(none);
  }
}
@include keyframes(outUp) {
  0% {
    @include transform(none);
  }

  100% {
    @include transform(translate3d(0, -100%, 0));
  }
}
@include keyframes(deerIn) {
  0% {
    opacity: 0;
    @include transform(scale(1));
  }

  100% {
    opacity: 1;
    @include transform(scale(1.2));
  }
}

@include keyframes(bounceInDown) {
  0%, 60%, 75%, 90%, 100% {
    @include animation-timing-function(cubic-bezier(0.215, 0.610, 0.355, 1.000));
  }
  0% {
    opacity: 0;
    @include transform(translate3d(0, -3000px, 0));
  }
  60% {
    opacity: 1;
    @include transform(translate3d(0, 25px, 0));
  }
  75% {
    @include transform(translate3d(0, -10px, 0));
  }
  90% {
    @include transform(translate3d(0, 5px, 0));
  }
  100% {
    @include transform(none);
  }
}

@include keyframes(bounceOutUp) {
  20% {
    @include transform(translate3d(0, -10px, 0));
  }
  40%, 45% {
    opacity: 1;
    @include transform(translate3d(0, 20px, 0));
  }
  100% {
    opacity: 0;
    @include transform(translate3d(0, -2000px, 0));
  }
}

@include keyframes(inLeft) {
  0% {
    @include transform(translate3d(-100%, 0, 0));
  }

  100% {
    @include transform(translate3d(0, 0, 0));
    visibility: visible;
  }
}

@include keyframes(inRight) {
  0%  {
    @include transform(translate3d(100%, 0, 0));
  }

  100% {
    @include transform(translate3d(0, 0, 0));
    visibility: visible;
  }
}

@include keyframes(outLeft) {
  0% {
    @include transform(translate3d(0, 0, 0));
  }

  100% {
    visibility: hidden;
    @include transform(translate3d(-100%, 0, 0));
  }
}

@include keyframes(outRight) {
  0%  {
    @include transform(translate3d(0, 0, 0));
  }

  100%  {
    visibility: hidden;
    @include transform(translate3d(100%, 0, 0));
  }
}

// @include keyframes(bounceInLeft) {
//   0%, 60%, 75%, 90%, 100% {
//     @include animation-timing-function(cubic-bezier(0.215, 0.610, 0.355, 1.000));
//   }
//   0% {
//     opacity: 0;
//     @include transform(translate3d(-3000px, 0, 0));
//   }
//   60% {
//     opacity: 1;
//     @include transform(translate3d(25px, 0, 0));
//   }
//   75% {
//     @include transform(translate3d(-10px, 0, 0));
//   }
//   90% {
//     @include transform(translate3d(5px, 0, 0));
//   }
//   100% {
//     @include transform(none);
//   }
// }
//
// @include keyframes(bounceInRight) {
//   0%, 60%, 75%, 90%, 100% {
//     @include animation-timing-function(cubic-bezier(0.215, 0.610, 0.355, 1.000));
//   }
//   0% {
//     opacity: 0;
//     @include transform(translate3d(3000px, 0, 0));
//   }
//   60% {
//     opacity: 1;
//     @include transform(translate3d(-25px, 0, 0));
//   }
//   75% {
//     @include transform(translate3d(10px, 0, 0));
//   }
//   90% {
//     @include transform(translate3d(-5px, 0, 0));
//   }
//   100% {
//     @include transform(none);
//   }
// }
//
// @include keyframes(bounceOutLeft) {
//   20% {
//     opacity: 1;
//     @include transform(translate3d(20px, 0, 0));
//   }
//   to {
//     opacity: 0;
//     @include transform(translate3d(-2000px, 0, 0));
//   }
// }
//
// @include keyframes(bounceOutRight) {
//   20% {
//     opacity: 1;
//     @include transform(translate3d(-20px, 0, 0));
//   }
//   to {
//     opacity: 0;
//     @include transform(translate3d(2000px, 0, 0));
//   }
// }


@include keyframes(walk) {
  0%, 100% { left: 0; }
  9.09% { left: -100%; }
  18.18% { left: -200%; }
  27.27% { left: -300%; }
  36.36% { left: -400%; }
  45.45% { left: -500%; }
  54.54% { left: -600%; }
  63.63% { left: -700%; }
  72.72% { left: -800%; }
  81.81% { left: -900%; }
  90.90% { left: -1000%; }
}
@include keyframes(walkReverse) {
  0%, 100% { left: 0 0; }
  9.09% { left: -1000%; }
  18.18% { left: -900%; }
  27.27% { left: -800%; }
  36.36% { left: -700%; }
  45.45% { left: -600%; }
  54.54% { left: -500%; }
  63.63% { left: -400%; }
  72.72% { left: -300%; }
  81.81% { left: -200%; }
  90.90% { left: -100%; }
}
@include keyframes(ground) {
  0%, 100% { left: 0; }
  10% { left: -100%; }
  20% { left: -200%; }
  30% { left: -300%; }
  40% { left: -400%; }
  50% { left: -500%; }
  60% { left: -600%; }
  70% { left: -700%; }
  80% { left: -800%; }
  90% { left: -900%; }
}
@include keyframes(groundReverse) {
  0%, 100% { left: 0; }
  10% { left: -900%; }
  20% { left: -800%; }
  30% { left: -700%; }
  40% { left: -600%; }
  50% { left: -500%; }
  60% { left: -400%; }
  70% { left: -300%; }
  80% { left: -200%; }
  90% { left: -100%; }
}
