@import "mixins";
@import "variables";

.character {
  width: percentage(230/1280/2);
  height: percentage(533/720/2);
  position: absolute;
  left: 50%;
  margin-left: percentage(-115/1280/2);
  bottom: 10%;
  z-index: 25;

  .character-shadow {
    width: 90%;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -45%;
    img {
      width: 100%;
      height: auto;
      opacity: 0.8;
    }
  }
  .character-body {
    width: 100%;
    height: percentage(506/230);
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
    }

    .image-still {
      width: 100%;
      height: auto;
    }

    .image-walking {
      display: none;
      width: 1100%;
      height: auto;
    }
  }

  &.walking {
    .character-body {
      .image-still {
        display: none;
      }

      .image-walking {
        display: block;
        @include animation(walk 1s steps(1) infinite);
      }
    }
    &.reverse .character-body .image-walking {
      @include animation(walkReverse 1s steps(1) infinite);
    }
    &.fast .character-body .image-walking {
      @include animation-duration(0.5s);
    }
    &.slow .character-body .image-walking {
      @include animation-duration(1.5s);
    }
  }
}
