@import "mixins";
@import "variables";

.door-container {
  width: 260px;
  height: 465px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -232.5px;

  .door {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../img/door-sprite.png) no-repeat;
    background-position: 0 0;
    z-index: 0;
  }

  &.moving-vertical .door {
    background-position: -260px 0;
  }

  &.moving-horizontal .door {
    background-position: (2*-260px) 0;
  }

  &.open .door {
    background-position: (3*-260px) 0;
  }

  &:before,
  &:after {
    content: ' ';
    position: absolute;
    background: #3e3939;
    z-index: -1;
    @include box-shadow(0px, 0px, 6px, #3e3939);
  }

  &.from-left,
  &.from-right {
    left: 0;
    @include transform-origin(0 50%);
    @include transform(scale(0.5));

    &:before,
    &:after {
      height: 8px;
      width: 2000px;
      left: -1900px;
    }

    &:before {
      top: 50px;
    }

    &:after {
      bottom: 50px;
    }
  }

  &.from-right {
    left: auto;
    right: 0;
    @include transform-origin(100% 50%);
    @include transform(scale(0.75));

    &:before,
    &:after {
      left: auto;
      right: -1900px;
    }
  }

  &.from-top {
    top: 0;
    left: 50%;
    margin-top: 0;
    margin-left: -130px;
    @include transform-origin(50% 0);

    &:before,
    &:after {
      width: 8px;
      height: 2000px;
      top: -1900px;
    }

    &:before {
      left: 50px;
    }

    &:after {
      right: 50px;
    }
  }
}
