@import "mixins";
@import "variables";

.start {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  background: $black;

  &.active {
    display: block;
  }
}

// Intro
.intro {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/intro/background-storm@2x.jpg) center center;
  background-size: cover;
  z-index: 70;
  overflow: hidden;

  video {
    position: absolute;
    width: 120%;
    height: auto;
    top: -20%;
    left: 50%;
    margin-left: -60%;
  }

  .quote {
    width: 50%;
    height: auto;
    position: absolute;
    @include animation(fadeOut 4s);
    @include animation-delay(2s);

    &.left {
      left: 5%;
      top: 35%;
    }

    &.right {
      right: 5%;
      top: 60%;
      @include animation-duration(3s);
      @include animation-delay(3s);
    }
  }

  &.active {
    display: block;

    .quote {
      @include animation(fadeIn 4s);
    }
  }
}
