@import "mixins";
@import "variables";

$ropeThickness: 8px;
$videoWidth: 1072px;
$videoHeight: 603px;

// Set pieces
.prop {
  display: none;
  z-index: 10;
  position: absolute;

  &.active {
    display: block;
  }

  &.bg {
    z-index: 0;
  }
}
img.prop {
  height: auto;
}
.prop {
  > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  &.double-rope:before,
  &.double-rope:after,
  &.rope:before {
    content: ' ';
    position: absolute;
    background: #3e3939;
    z-index: -1;
    opacity: 0.9;
    // @include box-shadow(0px, 0px, 6px, #3e3939);
  }

  &.double-rope,
  &.rope {

    &.from-left,
    &.from-right {

      &:before,
      &:after {
        height: $ropeThickness;
        width: 2000px;
        left: -1960px;
      }
    }

    &.from-right {

      &:before,
      &:after {
        left: auto;
        right: -1960px;
      }
    }

    &.from-top {

      &:before,
      &:after {
        width: $ropeThickness;
        height: 2000px;
        top: -1960px;
      }
    }
  }

  &.rope {
    &.from-left:before,
    &.from-right:before {
      top: 50%;
      margin-top: -($ropeThickness/2);
    }

    &.from-top:before {
      left: 50%;
      margin-left: -($ropeThickness/2);
    }
  }

  &.double-rope {

    &.from-left,
    &.from-right {

      &:before {
        top: 20%;
      }

      &:after {
        bottom: 20%;
      }
    }

    &.from-top {

      &:before {
        left: 20%;
      }

      &:after {
        right: 20%;
      }
    }
  }

}

.video-container video {
  width: 100%;
  height: auto;
}

.from-left {
  left: -100%;
}
.from-right {
  right: -100%;
}
.from-top {
  top: -100%;
}
.from-bottom {
  bottom: -100%;
}
.h-center {
  left: 50%;
}
.v-center {
  top: 50%;
}
.vb-center {
  bottom: 50%;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}

/* Scene: Doors */

.door-container {
  width: percentage(260 / $screenW);
  height: percentage(465 / $screenH);
  margin-top: percentage(-465 / $screenH / 3.3333);
  margin-left: percentage(-260 / $screenW / 2);

  .door {
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 400%;
      height: auto;
    }
  }

  &.moving-vertical .door img {
    left: -100%;
  }

  &.moving-horizontal .door img {
    left: -200%;
  }

  &.open .door img {
    left: -300%;
  }

  &.from-left,
  &.from-right {
    // @include transform-origin(0 50%);
    @include transform(scale(0.5));
  }

  &.from-right {
    margin-left: auto;
    margin-right: percentage(-260 / $screenW / 2);
    @include transform(scale(0.75));
  }
}

/* Scene: Rocks */
#rocks-01-from-left {
  width: 45%;
  bottom: 25%;
}
#rocks-02-from-right {
  width: 45%;
  bottom: 25%;
}
#rocks-03-from-top {
  width: 38%;
  margin-left: -19%;
}
#rocks-insects-videos {
  .video-container {
    top: -25%;
  }
  video {
    width: 100%;
    height: auto;
  }
}
#rocks-ants-video {
  width: 66%;
  left: -16%;
}
#rocks-scorpion-video {
  width: 68%;
  right: -18%;
}

/* Scene: Ramshackle */
#ramshackle-bg {
  width: 100%;
}

/* Scene: Homes */
#homes-hill-bg {
  width: 100%;
}

#car {
  width: 563px;
  height: 503px;
  right: 2%;
  margin-top: -125px;
  z-index: 1;
  &:before {
    z-index: 0;
    top: -1800px;
  }
   > .prop-image {
     background: url(../img/car.png);
   }
}
#rock-06-from-left {
  background: url(../img/rock_06_from_left.png);
  width: 608px;
  height: 176px;
  bottom: 33%;
}
#tire {
  background: url(../img/tire.png);
  width: 402px;
  height: 233px;
  bottom: 33%;
}
#rock-07-from-left {
  background: url(../img/rock_07_from_left.png);
  width: 411px;
  height: 326px;
  bottom: 33%;
}
#rabbit {
  width: 149px;
  height: 140px;
  left: 30%;
  > .prop-image {
    background: url(../img/rabbit.png);
  }
}
#ball {
  width: 57px;
  height: 57px;
  left: 36%;
  > .prop-image {
    background: url(../img/ball.png);
  }
}
#frisbee {
  width: 71px;
  height: 67px;
  left: 40%;
  > .prop-image {
    background: url(../img/frisbee.png);
  }
}
#rabbit,
#ball,
#frisbee {
  z-index: 1;

  &:before {
    z-index: 0;
    width: 2px;
    margin-left: -1px;
    opacity: 0.5;
  }
}
#tree-tire {
  background: url(../img/tree_tire.png);
  width: 343px;
  height: 595px;
}
#fence {
  background: url(../img/fence.png);
  width: 518px;
  height: 596px;
}
#rock-08-from-right {
  background: url(../img/rock_08_from_right.png);
  width: 655px;
  height: 451px;
  top: 10%;
}
#house {
  background: url(../img/house.png);
  width: 400px;
  height: 320px;
  right: 15%;
}
#fence2 {
  background: url(../img/fence2.png);
  width: 500px;
  height: 347px;
}
