@import "mixins";
@import "variables";

#pit-bg {
  width: 100%;
}
#pit-pit {
  width: 100%;
}
#pit-sign-scenic {
  width: 25%;
  left: 15%;
}
#pit-bisbee-sign {
  width: 29.5%;
  bottom: 18%;
}
#pit-barb-wire {
  width: 64.6%;
  bottom: 18%;
}
#pit-mileage-sign {
  width: 67%;
  bottom: -10%;
}
