@import "mixins";
@import "variables";

#homes-hill-bg {
  width: 100%;
}
#homes-school-building {
  width: 12%;
  margin-left: -7%;
}
#homes-house-top-left {
  width: 14%;
  top: 10.6%;
}
#homes-cacti-fence {
  width: 12%;
  bottom: 17.6%;
}
#homes-stacked-left {
  width: 24.5%;
  top: 7.3%;
}
#homes-long-stairs-left {
  width: 35.5%;
  bottom: 12.4%;
}
#homes-shed {
  width: 12.5%;
  right: 22.5%;
}
#homes-car-garage {
  width: 13%;
  right: 36.5%;
}
#homes-car {
  width: 7%;
  right: 42%;
}
#homes-foundation {
  width: 11%;
  bottom: 20%;
}
#homes-sheds-house {
  width: 22%;
  top: 20.5%;
}
#homes-stairwell {
  width: 20%;
  bottom: 15%;
}
#homes-mosaic {
  width: 33.5%;
}
