@import "mixins";
@import "variables";

#pit-bg {
  width: 100%;
}
#pit-pit {
  width: 100%;
}
#pit-sign-scenic {
  width: 25%;
  left: 15%;
}
#pit-barb-wire {
  width: 64.6%;
  bottom: 18%;
}
#pit-mileage-sign {
  width: 67%;
  bottom: -10%;
}
#pit-bg-dark {
  background: rgba(0,0,0,0.7);
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  &.active {
    display: block;
    @include animation(fadeIn 2s);
  }
}
#pit-bisbee-sign {
  width: 29.5%;
  bottom: 18%;
  cursor: pointer;

  img,
  video {
    width: 100%;
    height: auto;
  }

  video {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    @include transform(perspective(400px) rotateY(15deg) translateX(9%) translateY(12%) scale(0.82, 0.74) rotate(-2deg));
  }

  .sign-placeholder {
    @include animation(fadeOut 2s);
    position: absolute;
    width: 76%;
    left: 17%;
    top: 15%;
  }

  &.active .sign-placeholder {
    @include animation(fadeIn 4s);
  }

  &.film-on {
    video {
      @include animation(fadeIn 1s);
      display: block;
    }
    .sign-placeholder {
      display: none;
    }
  }
}
