@import "mixins";
@import "variables";

@import "odometer";

.car {

  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;

  &.active {
    display: block;
    @include animation(fadeIn 2s);
  }

  .car-prop {
    position: absolute;
  }

  > div[start],
  > img[start] {
    display: none;

    &.active {
      display: block;
    }
  }

  $window_ratio: (1440/518);
  .windows {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
  }

  .supporting-objects {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    &.active {
      @include animation(fadeIn 2s);
    }
  }

  .photo-container {
    width: 7%;
    height: auto;
    right: 29%;
    bottom: 28%;
    background: no-repeat;
    background-position: center top;
    background-size: 100% auto;
    background-image: url(../img/car/photo-o@2x.jpg);
    @include transform(rotate(-15deg));
    img {
      width: 100%;
      height: auto;
      opacity: 1;
      cursor: pointer;
      @include transition(opacity 0.5s);
      &:hover {
        opacity: 0;
      }
    }
  }

  .map-container {
    width: 40%;
    height: auto;
    bottom: 0;
    left: 50%;
    margin-left: -20%;
    background: $black;

    img {
      width: 100%;
      height: auto;
      cursor: pointer;
      opacity: 0.5;
      @include transition(opacity 0.5s);
      &:hover {
        opacity: 1;
      }
    }
  }

  .radio-container {
    width: 10%;
    height: percentage(62/$screenH);
    left: 48%;
    bottom: 30%;
    cursor: pointer;
    @include animation(fadeOut 1s);

    &.active {
      @include animation(fadeIn 1s);
    }

    > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      opacity: 0.5;
      @include transition(opacity 0.5s);
    }

    > img.radio-numbers {
      width: percentage(115/177);
      left: 26%;
      top: 11%;
    }

    > img.radio-needle {
      width: percentage(2/177);
      height: auto;
      top: 11%;
      left: 36%;
      @include transition(left 0.5s);
    }

    &:hover > img {
      opacity: 1;
    }
  }

  .odometer {
    width: 8%;
    height: auto;
    left: 27%;
    bottom: 30%;
    position: absolute;
    opacity: 0.6;
    @include transform(scale(0.7));
  }

  .seat-left,
  .seat-right {
    width: 27%;
    bottom: 22%;

    &.active {
      @include animation(fadeIn 2s);
    }
  }
  .seat-left {
    width: 40%;
    left: 0;
  }
  .seat-right {
    right: 0;
  }

  .road-video-container {
    width: 100%;
    height: 100%;
    .drive-center,
    .drive-left,
    .drive-right {
      position: absolute;
      top: 0;
      height: 100%;
      @include animation(fadeOut 0.5s);

      video {
        width: 100%;
        height: auto;
      }
    }

    .drive-center {
      width: 70%;
      left: 50%;
      top: 2%;
      margin-left: -35%;
    }
    .drive-left,
    .drive-right {
      width: 20%;
      top: 10.5%;
    }
    .drive-left {
      left: -5%;
      top: 6%;
      //@include transform(rotate(-14deg));
    }
    .drive-right {
      right: -5%;
      //@include transform(rotate(14deg));
    }

    &.active {
      .drive-center,
      .drive-left,
      .drive-right {
        @include animation(fadeIn 0.5s);
      }
      .drive-left {
        @include animation-duration(0.3s);
        @include animation-delay(1s);
      }
      .drive-right {
        @include animation-duration(0.4s);
        @include animation-delay(3s);
      }
      .drive-center {
        @include animation-delay(7s);
      }
    }
  }

  .road-night {
    .drive-left video {
      @include transform(scaleX(-1));
    }

    &.active {
      .drive-center,
      .drive-left,
      .drive-right {
        @include animation-delay(0s);
        @include animation-duration(5s);
      }
    }
  }

  .deer {
    width: 10%;
    height: auto;
    left: 48%;
    top: 30%;

    &.active {
      @include animation(deerIn 0.2s linear);
    }
  }

  #car-floor {
    z-index: 0;
    @include animation(fadeOut 3s);

    &.active {
      @include animation(fadeIn 3s);
    }
  }
}



.photo-popup-container {
  width: 30%;
  height: 70%;

  .photo-large {
    width: 100%;
    height: auto;
    @include transform(rotate(0deg));
    @include transition-transform(1s);
  }
}
.popup.active {
  .photo-large {
    @include transform(rotate(-15deg));
    &.back {
      @include transform(rotate(15deg));
    }
  }
}

.map-popup-container {
  width: 70%;

  .map-large {
    width: 100%;
    height: auto;
    @include transform(rotate(0deg));
    @include transition-transform(1s);
  }

  .mileage, .montpelier, .bisbee {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    @include transition(opacity 1s);

    &.active {
      opacity: 1;
    }

    &.active.seen {
      opacity: 0;
    }
  }
}
.popup.active {
  .map-large {
    @include transform(rotate(-2deg));
  }
}
