@import "../css/vendor/normalize.css";

@import "mixins";
@import "variables";
@import "animations";

body {
  background: $black;
  color: $white;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

button {
  color: $black;
}

// Utils
.hide {
  display: none;
}
.debug {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 100;
  padding: 12px;
  background: rgba($white, 0.1);
  font-size: 0.8em;
  z-index: 1000;

  div,
  button {
    margin-bottom: 4px;
  }
}
button {
  border: none;
  background: $medium;
  font-size: 1.2em;
  padding: 0.3em 0.6em;
  color: $white;
  outline: none;

  &:hover {
    background: lighten($medium, 10%);
  }
}

// Scaffold
.logo {
  display: block;
  position: absolute;
  z-index: 100;
  img {
    width: 160px;
    height: auto;
  }
}
.stage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.hotspot {
  width: 60%;
  height: 30%;
  max-height: 200px;
  position: absolute;
  left: 50%;
  margin-left: -30%;
  z-index: 50;

  &.top {
    top: 0;
    cursor: url(../img/arrow-up.png), n-resize;
    &.fast {
      cursor: url(../img/arrow-up-double.png), s-resize;
    }
  }

  &.bottom {
    bottom: $menuHeight;
    cursor: url(../img/arrow-down.png), s-resize;
    &.fast {
      cursor: url(../img/arrow-down-double.png), s-resize;
    }
  }
}

// Menu
.menu {
  width: 100%;
  height: $menuHeight;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba($medium, 0.8);
  z-index: 100;
  @include box-shadow(0, -2px, 2px);
}

// Components
@import "floor";
@import "intro";
@import "modal";
@import "character";
@import "props";

// Scenes
@import "scene_doors";
@import "scene_rocks";
@import "scene_ramshackle";
@import "scene_homes";
@import "scene_buildings";
@import "scene_pit";
