@import "../css/vendor/normalize.css";

@import "mixins";
@import "variables";

$menuHeight: 34px;

body {
  background: $black;
  color: $white;
  margin: 0;
  padding: 0;
}

button {
  color: $black;
}

.debug {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 100;
}

// Scaffold
.logo {
  display: block;
  position: absolute;
  img {
    width: 160px;
    height: auto;
  }
}
.stage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.floor {
  width: 100%;
  height: 300px;
  background: url(../img/floor.jpg) center no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;

  .void {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    @include background-gradient($black, $black, 1, 0);
  }
}
.hotspot {
  width: 60%;
  height: 200px;
  position: absolute;
  left: 50%;
  margin-left: -30%;

  &.top {
    top: 0;
    cursor: url(../img/arrow-up.png), n-resize;
    &.fast {
      cursor: url(../img/arrow-up-double.png), s-resize;
    }
  }

  &.bottom {
    bottom: $menuHeight;
    cursor: url(../img/arrow-down.png), s-resize;
    &.fast {
      cursor: url(../img/arrow-down-double.png), s-resize;
    }
  }
}

// Character

.character {
  width: 230px;
  height: 533px;
  position: absolute;
  left: 50%;
  margin-left: -103px;
  bottom: $menuHeight + 120px;
  @include transform-origin(50% 100%);
  @include transform(scale(0.5));

  .character-shadow {
    width: 206px;
    height: 77px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -103px;
    background: url(../img/character-shadow.png) center no-repeat;
    opacity: 0.8;
  }
  .character-body {
    width: 230px;
    height: 506px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -115px;
    background: url(../img/character-sprite.png) no-repeat;
    background-position: 0 0;
  }
}

// Menu
.menu {
  width: 100%;
  height: $menuHeight;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(#9a5820, 0.8);
  @include box-shadow(0, -2px, 2px);
}
